[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/lamons/hexo-theme-cactus.git
[submodule "themes/Nayo"]
	path = themes/Nayo
	url = https://github.com/Lemonreds/hexo-theme-nayo.git
